<h1 class="text-center my-4">Administration</h1>

<section class="row text-center">
    <div class="col-6 m-auto">
        <button type="button" class="btn btn-outline-primary my-2"> <%= link_to "Categories", root_path %> </button>
        <p>You can manage the categories here freely! <br> Let's add/ edit awesome categories now!!</p>
        <button type="button" class="btn btn-outline-primary my-2"> <%= link_to "Administrators", root_path %> </button>
        <p>These are the people contributing to improve this app more and more! <br> You can add or remove members.</p>
    </div>
</section>
