<div class="card">
    <div class="card-body py-2">
        <div class="row">
            <div class="col-2 text-center my-auto">
                <% if current_user.picture? %>
                    <%= image_tag current_user.picture.url, :size => "60x60" %>
                <% else %>
                    <%= image_tag "https://cdn.pixabay.com/photo/2017/01/10/03/54/icon-1968236__480.png", class: "", :size => "60x60" %>
                <% end %>
            </div>
            <div class="col-10">
                <p>#{activity.user.name} learned #{number} out of #{number} in <span class="badge badge-pill badge-success">#{activity.action.category.title}</span></p>
                <p class="mb-0">#{activity.user.name} started following <span class="badge badge-pill badge-secondary">#{current_user}</span></p>
                <%# <small class="text-muted"><%= time_ago_in_words(activity.created_at) ago</small> %> %>
            </div>
        </div>  
    </div>
</div> 