<h1 class="text-center mt-4 mb-2">Settings</h1>
<div class="container">
    <div class="row">
        <div class="col-7 text-right pr-0 m-auto">
            <div class="mx-5">
                <%= link_to "Back", :back, class: "btn btn-outline-primary ml-3" %>
            </div>
        </div>
    </div>
</div>

<%= render "form", btn_name: "Update Info" %>

<br>
<br>
