// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-bg {
  background-color: rgba(234, 45, 222, 0.135);
}
.non-admin-bg {
  background-color: white;
}
.profile-bg {
  background-color: rgba(192, 255, 255, 0.45);
}