<h1 class="text-center my-4">Result</h1>

<section class="container">
    <section class="col-8 mx-auto">
        <section class="card mx-5 pb-4">
            <div class="card-header py-1">
                <div class="col-3 text-right float-right">
                    <%= link_to "back", categories_path, class: "text-right mr-2" %>
                </div>
            </div>
            <div class="card-body text-center mx-5">
                
            </div>
        </section>
    </section> 
</section>